*{
    padding: 0;
    margin:0;
}
.mainbox{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin:5px;
}
.dog__items{
    border:solid 1px grey;
    padding:5px;
    text-align: center;
    display:inline-block;
    flex-basis: 20%;
    flex-grow: 1;
    
}