*{
    padding: 0;
    margin:0;
}
.mainbox{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin:5px;
}
.dog__items{
    border:solid 1px grey;
    padding:5px;
    text-align: center;
    display:inline-block;
    flex-basis: 20%;
    flex-grow: 1;
    
}
.dog__image{
    width:100%;
    height:220px;
}

  
  /* Styles for large mobile devices */
  @media only screen and (max-width: 425px) {
    .dog__image{
        width:100%;
        height:120px;
    }
    .dog__items p{
        font-size: 12px;
    }
  }
  
  /* Styles for medium mobile devices */
  @media only screen and (max-width: 375px) {
    .dog__image{
        width:100%;
        height:80px;
    }
    .dog__items p{
        font-size: 12px;
    }
   .dog__items{
    flex-basis: 15%;
   }
  }
  
 